services:
sylver-frontend:
  image: node:16.16.0
    build:
      context: .Frontend/sylver-frontend
    container_name: sylver-frontend
    restart: unless-stopped
    stdin_open: true
    volumes:
       - ./sylver-frontend:/usr/src/app
       - /usr/src/app/node_modules
    ports:
      - '80:80'
    networks:
      - sylvrproject  
      - mongodb
  mongo:
    image: mongo:4.4.18
    volumes:
      - ./db:/data/db
    networks:
      - mongodb
    hostname: mongodbserver
    container_name: sylvr-mongodb
    restart: unless-stopped
  proxy:
    image: 'jc21/nginx-proxy-manager:latest'
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
      - '27019:27019'
      - '9229:9229'
    volumes:
      - ./proxy/data:/data
      - ./proxy/letsencrypt:/etc/letsencrypt
      - ./proxy/web:/var/www/html
    networks:
      - sylvrproject
      - mongodb
    container_name: webproxy
    restart: unless-stopped
  portainer:
    image: portainer/portainer-ce:latest
    volumes:
      - ./portainer:/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    container_name: "portainer"
    networks:
      - sylvrproject
  mongo-express:
    image: mongo-express
    env_file:
      - ./envsetup/mongo-express
    depends_on:
        - mongo
    networks:
      - sylvrproject  
      - mongodb
    container_name: mongoexpress
    restart: unless-stopped
  
